@import "../../../../style/variables";

.post-reaction {
  cursor: pointer;
  transition: 0.6s ease-in !important;
}

.like-post {
  color: $like-post !important;
}

.dislike-post {
  color: $dislike-post !important;
}
