// color variables
$dark-black: #121416;
$light-black: #252731;
$gray: #404144;
$light-text-gray: #bdbdbd;
$card-text-white: #f1f1f1;
$light-green: #00c853;
$green: #388e3c;
$dark-green: #2e7d32;
$like-post:#43a047;
$dislike-post:#e53935;

// width variables
$width-edge: 768px;