.author-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: top !important;
  transition: 0.5s;
}

.author-name {
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s;
  color: var(--gray);
}

.author-posts-count {
  font-size: 15px;
  font-weight: 400;
  transition: 0.3s;
  color: var(--gray);
}

.autor-wrapper {
  display: inline-block;
  width: 195px !important;
}
