.post-header h2 {
  color: #fff;
  font-weight: bold;
  margin: unset;
}

.post-header span {
  color: var(--light-text-gray);
  font-size: 10px;
  font-weight: 500;
}

.post-img {
  max-height: 310px;
  width: 95%;
  border-radius: 3px;
}

.post-width {
  width: 50%;
}

.post-reactions{
  font-size: 1.1rem;
  color: var(--light-text-gray);
}

.post-body {
  color: var(--light-text-gray);
  font-size: 12px;
  text-align: justify !important;
  line-height: 18px;
}

.post-author-card {
  border-radius: 5px !important;
  width: 50%;
}

.post-author-card img {
  border-radius: 3px 0 0 3px !important;
  object-fit: cover;
  object-position: top !important;
  width: 100%;
  height: 100%;
}

.post-author-card .card-body {
  width: 100% !important;
  height: 100%;
  padding-right: 9%;
  padding-left: 6%;
  background-color: var(--light-black);
  color: var(--light-text-gray);
  border-radius: 0 3px 3px 0 !important;
}

.post-author-card .card-body h5 {
  font-size: 16px;
}

.about-author {
  font-size: 12px;
  line-height: 17px;
  text-align: justify;
}

.social-media i {
  font-size: 13px;
  color: var(--light-text-gray);
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

.social-media i:hover {
  font-size: 15px !important;
  opacity: 1 !important;
}

@media screen and (max-width: 768px) {
  .post-width {
    width: 75% !important;
  }

  .post-author-card img {
    border-radius: 3px 3px 0 0 !important;
  }

  .post-author-card .card-body {
    border-radius: 0 0 3px 3px !important;
  }
}

@media screen and (min-width: 768px) {
  .post-author-card {
    height: 150px !important;
  }

  .post-author-card .row,
  .post-author-card .row div[class^="col-md"] {
    height: inherit !important;
  }
}
